.results {
  text-align: center;
  margin: 0 auto;
  background-color: #efefef;
  width: 300px;
  padding: 20px 10px;


  & button {
    margin-top: 25px;
  }

  &__correct {
    margin-bottom: 25px;
    color: $correctColor;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
  }
}